@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://in.linkedin.com/in/air563">This website is under development, to contact the developer send mail on 'manand742@gmail.com'</a>.</p>
</div>

